{% extends 'base.html.twig' %}

{% block title %}Fiche du Stagiaire{% endblock %}

{% block body %}

    <h1>Fiche du Stagiaire</h1>

    <section class="section_ficheStagiaire">
        {{ stagiaire.email }}
    </section>

{% endblock %}
