{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires{% endblock %}

{% block body %}

    <h1>Liste des Stagiaires</h1>

    <section class="section_listesStagiaires">
        {% for stagiaire in stagiaires %}
            <a href="{{ path('app_ficheStagiaire', {'id' : stagiaire.id} ) }}" class="container_stagiaire">
                {{ formateur.email }} <hr>
                {{ formateur.nom }} <hr>
                {{ formateur.prenom }} <br>
            </a>
        {% endfor %}
    </section>

{% endblock %}
