{% extends 'base.html.twig' %}

{% block title %}Fiche de la Session{% endblock %}

{% block body %}

    <h1> {{ session.nomSession }} </h1>

    <section class="section_ficheSession">
        {{ session.nomSession }}
    </section>

{% endblock %}
