*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, i{
    text-decoration: none;
    color: inherit;
}

ul li{
    list-style: none;
}

table { border-collapse: collapse; }

:root{
    --size-nav: 8vh;
    --size-nav-desktop : 80px;
    --size-nav-desktop-hover : 200px;
    --color-grey:rgb(100, 100, 108);
    --background-nav: rgb(206, 229, 255);
}

body{
    height: 100vh;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-image: url('../img/blop_background.svg');
    background-position: center;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    bottom: 0;
    background: -webkit-linear-gradient(90deg, #75a47f,#bacd92,#fcffe0);
    background: linear-gradient(90deg, #75a47f,#bacd92,#fcffe0);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    z-index: 99;
}

main{
    padding-top: 15vh;
    padding-bottom: calc(var(--size-nav) + 5vh);
}

h1{
    /* margin-top: 10vh; */
    text-align: center;
    color: var(--color-grey);
}

h2{
    margin: 2vh 3vw;
    padding-left: 10px;
    border-left: 5px solid var(--color-grey);
}


/* ------------------------------------ NAVBAR ------------------------------------------------- */
nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-grey);
}

nav .container_profil{
    height: 20vh;
    width: 100%;
    background-color: rgba(252, 255, 224, 0.5);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    animation : nav-up 1s forwards; 
}

.nav_up_down{
    cursor: pointer;
}

@keyframes nav-up {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

nav .container_profil a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav_up_down{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.nav_container{
    height: var(--size-nav);
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 15px;
}

.nav_container a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav_container div{
    height: 100%;
    width: 25%;
}


nav i{
    font-size: 30px;
    font-weight: bold;
}

nav span{
    font-weight: bolder;
}

.nav_open{
    display: none !important;
}

.profil{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: solid 5px rgb(186, 205, 146);
    cursor: pointer;
}
.profil img{
    width: 60px;
    height: 60px;
}





/* ------------------------------------ Register/Login ------------------------------------------------- */

.section_register_login{
    width: 90%;
    margin: 5vh auto;
    border-radius: 30px;
    /* background: -webkit-linear-gradient(90deg, rgba(118, 125, 141, 0.4),rgba(60, 60, 59, 0.4));
    background: linear-gradient(90deg, rgba(118, 125, 141, 0.4),rgba(60, 60, 59, 0.4)); */
    background-color: rgba(201, 211, 190, 0.3);
}

.section_register_login form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.section_register_login form div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.section_register_login form div label{
    font-size: medium;
    font-weight: bold;
    color: var(--color-grey);
}

.section_register_login form div input, .section_register_login form div select{
    padding: 10px;
    font-style: italic;
    border: none;
}

.section_register_login .form_submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_register_login .form_submit .btn{
    color: var(--color-grey);
    font-size: large;
    font-weight: bolder;
    padding: 10px 20px;
    background-color: #bacd92af;
    border-radius: 5px;
    border: none;
    border-bottom: 4px solid #75a47f;
    cursor: pointer;
    transition: 1s;
}

.section_register_login .form_submit .btn:hover{
    background-color: #75a47f;
}


/* ------------------------------------ Categorie ------------------------------------------------- */

.section_categorie{
    width: 95%;
    margin: 8vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container_categorie{
    background-color: rgba(92, 116, 59, 0.4);
    border-bottom: 2px solid #5C743B;
    padding: 20px 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: larger;
    font-weight: bolder;
    transition: 1s;
}

.container_categorie:hover{
    background-color: rgb(226, 196, 86);
}


/* ------------------------------------ Panneau Admin ------------------------------------------------- */

.section_panneauAdmin{
    width: 90%;
    margin: 8vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.section_panneauAdmin a{
    background-color: rgba(100, 100, 108, 0.5);
    border-bottom: 2px solid var(--color-grey);
    border-left: 2px solid var(--color-grey);
    border-radius: 20px;
    width: 250px;
    height: 100px;
    padding: 20px 40px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.section_panneauAdmin a:hover{
    background-color: rgba(100, 100, 108, 1);
}


/* ------------------------------ Listes Formateur/Stagiaire ---------------------------------------- */

.section_listesFormateursStagiaires{
    width: 90%;
    margin: 8vh auto;
}

table{
    width: 100%;
}

thead{
    background-color:#ABEBC6;
}


tr{
    height: 30px;
}

tbody{
    background-color: #EAFAF1;
}

tbody .nbr_session{
    text-align: center;
}

td{
    padding: 2px 5px;
}
/* .container_formateur{
    display: flex;
    justify-content: space-between;
} */


/* ------------------------------------ Session ------------------------------------------------- */

.section_listesSessions{
    width: 90%;
    margin: 8vh auto;
}

.container_session{
    background-color: rgba(233, 231, 222, 0.4);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.container_session a{
    width: 90%;
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.container_session a span{
    font-weight: bold;
}

.status_session_open{
    background-color: greenyellow;
    width: 5px;
    height: 100%;
}

.status_session_close{
    background-color: #9C1A15;
    width: 5px;
    height: 100%;
}

.session_arrowUpDown{
    padding-right: 10px;
    font-size: 25px;
}

.session_arrowUpDown i{
    background-color: #F5FFFA;
    border-radius: 5px;
    /* border: solid 1px black; */
}

.display_detailsSession{
    display: none!important;
}

.container_info_session{
    background-color: rgba(186, 205, 146, 0.6);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding: 15px;
    font-size: smaller;
    font-weight: bold;
}

.container_info_session div{
    background-color: rgba(245, 255, 250, 0.5);
    border-bottom: 2px solid #F5FFFA;
    border-left: 2px solid #F5FFFA;
    padding: 10px 20px;
    border-radius: 10px;
}

.container_info_session .details{
    background-color: #D9E997;
}


/* ------------------------------------ Fiche Session ------------------------------------------------- */

.section_ficheSession{
    width: 90%;
    margin: 8vh auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoSessionGenerale{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section_ficheSession .infoFormateurCategorie{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section_ficheSession .infoFormateur{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: rgba(226, 223, 210, 0.5);
    width: 150px;
    padding: 20px 5px;
    border-radius: 20px;
    /* height: 150px; */
}

.section_ficheSession .infoCategorie{
    background-color: #FCF5E5;
    border-radius: 10px;
    border-bottom: 2px solid #ffecc1;
    border-left: 2px solid #ffecc1;
    padding: 15px 30px;
    font-weight: bolder;
    transition: 1s;
}

.section_ficheSession .infoCategorie:hover{
    background-color: #ffecc1;
}

.section_ficheSession .infoSession{
    background-color: rgba(226, 223, 210, 0.7);
    /* height: 100px; */
    border-radius: 20px;
    padding: 10px;
}

.section_ficheSession .date_session{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
}

.section_ficheSession .place_session{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    padding: 5px;
    row-gap: 10px;
    font-weight: 700;
}

.section_ficheSession .place_session div{
    background-color: #bacd92;
    border-radius: 20px;
    border-bottom: 2px solid #75a47f;
    padding: 10px 20px;
}

.section_ficheSession .modif_session{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 2vh auto;
}

.section_ficheSession .form_modif, .section_ficheSession .form_delete{
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.section_ficheSession .form_modif{
    font-weight: bold;
    background-color: rgba(210, 233, 248, 0.3);
    color: #4ca7e3;
}

.section_ficheSession .form_delete{
    background-color: rgba(255, 204, 204, 0.3);
    color: #ff3333;
    font-weight: bolder;
}

tbody .duree_lecon{
    text-align: center;
}

td a{
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
}

td.viewFiche{
    display: flex;
    justify-content: center;
    align-items: center;
}

td.delete, td.add{
    text-align: center;
}


.ri-delete-bin-line{
    font-weight: bolder;
    font-size: large;
    color: red;
}

.ri-add-circle-line{
    color: blue;
}



/* ------------------------------------ Fiche Personne ------------------------------------------------- */

.section_fichePersonne{
    width: 90%;
    margin: 6vh auto;
}


.section_fichePersonne .infoFichePersonne{
    /* width: 90%; */
    margin-bottom: 5vh;
    border-radius: 20px;
    background-color: rgba(217, 233, 151, 0.4);
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    overflow: hidden;
}

.section_fichePersonne .infoCoordonnées{
    width: 100%;
    background-color: rgba(186, 205, 146, 0.5);
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: larger;
}

.section_fichePersonne .infoCoordonnées div{
    display: flex;
    align-items: center;
    gap: 30px;
}

.section_fichePersonne .infoCoordonnées i{
    background-color: rgba(92, 116, 59, 0.3);
    padding: 10px;
    border-radius: 50%;
}

.section_fichePersonne .infoPersonne{
    display: flex;
    padding: 20px 20px 30px 40px;
    justify-content: space-between;
}

.section_fichePersonne .infoPersonne .modifFiche{
    display: flex;
    gap: 10px;
    align-items: start;
}

.section_fichePersonne .infoPersonne .edit, .section_fichePersonne .infoPersonne .delete{
    font-size: larger;
    padding: 7px; 
    background-color: rgba(217, 233, 151, 0.7);
    border-radius: 10px;
}

.section_fichePersonne .infoPersonne .delete{
    color: red;
}

.section_fichePersonne .infoFiche{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* ------------------------------------ Fiche Categorie ------------------------------------------------- */

.section_ficheCategorie{
    width: 85%;
    margin: 7vh auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section_ficheCategorie td{
    text-align: center;
}

.section_ficheCategorie table{
    width: 50%;
    margin: auto;
}




/* ------------------------------------ Media screen ------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */

@media screen and (min-width:1025px){
    .wrapper{
        display: flex;
        justify-content: space-between;
    }

    header{
        position: unset;
        margin: 100px 40px;
        width: unset;
        border-radius: 30px;
    }

    .nav_hover_desktop{
        display: none;
    }

    .desktop{
        display: none;
    }

    .nav_container{
        flex-direction: column;
        height: 400px;
    }

    main{
        width: 80vw;
        padding: 10vh 0;
    }

    nav{
        height: unset;
    }

    .nav_container div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .nav_container div:hover span{
        background-color: rgba(249, 246, 238, 0.3);
        padding: 5px 10px;
        border-radius: 10px;
    }

    .nav_container a{
        flex-direction: row;
        width: 100%;
        height: unset;
        padding: 0 30px;
        gap: 20px;
        
    }

    .nav_container a span{
        font-size: larger;
        transition: 1s;
    }


    nav .container_profil{
        position: absolute;
        right: 0;
        top: 100px;
        width: 400px;
        background: linear-gradient(90deg, rgba(117, 164, 127, 0.4),rgba(186, 205, 146, 0.7),#fcffe0);
    }

    .section_register_login{
        width: 500px;
        margin: 10vh auto;
    }


    /* Fiche Session */
    .infoSessionGenerale{
        flex-direction: row;
        justify-content: space-around;
    }

    .infoSessionGenerale .infoFormateurCategorie{
        flex-direction: column;
        gap: 20px;
    }

    /* Fiche Personne */
    .section_fichePersonne .infoFichePersonne{
        flex-direction: row;
    }

    .infoFichePersonne .infoPersonne{
        width: 500px;
        justify-content: center;
        gap: 40px;
    }

    .infoFichePersonne .infoPersonne .profilFiche{
        display: flex;
        align-items: center;
    }

    nav .container_profil a{
        padding: 7px 14px;
        border-radius: 20px;
        transition: 0.5s;
    }

    nav .container_profil a:hover{
        background-color: rgba(249, 246, 238, 0.8);
    }

}

@media screen and (min-width:1200px){
    .nav_container:hover .nav_hover_desktop{
        display: block;
    }
}

