{% extends 'base.html.twig' %}

{% block title %}Fiche du Formateur{% endblock %}

{% block body %}

    <h1>Fiche du Formateur</h1>

    <section class="section_ficheFormateur">
        {{ formateur.email }}
    </section>

{% endblock %}
