{% extends 'base.html.twig' %}

{% block title %}Listes des Formateurs{% endblock %}

{% block body %}

    <h1>Liste des Formateurs</h1>

    <section class="section_listesFormateurs">
        {% for formateur in formateurs %}
            <a href="{{ path('app_ficheFormateur', {'id' : formateur.id} ) }}" class="container_formateur">
                {{ formateur.email }} <hr>
                {{ formateur.nom }} <hr>
                {{ formateur.prenom }} <br>
            </a>
        {% endfor %}
    </section>
{% endblock %}
